.InputContainer {
  padding: 5px;
  position: relative;
}

input {
  padding: 7px;
}

.Invalid {
  border: none;
  background-color: salmon;
  font-weight: bold;
  color: white;
}

.ErrorMessage {
  position: absolute;
  top: auto;
  right: 0;
  color: red;
}
