.navbar-item {
  margin-left: 30px;
  font-size: 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.navbar-item a {
  color: #a0a0a0;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.navbar-item a.active {
  color: white;
  font-weight: bold;
}
